:root {
    --green: #00A29B;          /* Verde principal */
    --white: #fff;             /* Blanco */
    --green-text: #005346;     /* Verde oscuro para texto */
    --gray: #eeedea;           /* Gris claro */
    --green-secondary: #00a26b;/* Verde secundario */
    --black: #000;             /* Negro */
    --border-radius: 5px;      /* Radio de borde */
    --kanit: "Kanit", sans-serif; /* Fuente Kanit */
}


p {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--kanit);
}

@media (max-width: 768px) {
    p {
        margin-bottom: 15px; 
    }
}

* {
    transition: 0.5s ease;
}

.container-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}


/* Globales */
.max-width {
    max-width: 1250px !important;
    margin: 0 auto;
}

.full-width {
    max-width: unset !important;
}